# 1. Files related to Project Management
# 1.1. System Files
.DS_Store

# 1.2. App-related Files
# 1.2.1. Pycharm
.idea
# 1.2.2. RStudio
.Rhistory


# 2. Datasets
# ## Note: Data files will be stored in Dropbox.
**/*.zip
**/*.dta
**/*.RData
**/*.parquet

# 2.1. To exclude raw datasets
# 2.1.1. CER datasets
**/01_Raw-Data/02_Use/CER
# 2.1.2. Met-Eireann datasets
**/01_Raw-Data/01_Original/Met-Eireann
**/01_Raw-Data/02_Use/Met-Eireann/**/*.csv
**/01_Raw-Data/02_Use/Met-Eireann/**/*.txt
**/01_Raw-Data/02_Use/Met-Eireann/**/*.xlsx


# 3. Scripts
# (Not Applicable)


# 4. Others
# 4.1. LaTeX files for checking table(s)
03_Output/02_Tables/For-LaTeX-Documents
For-Test.*
